.logos {
    padding-top: 0px;
   float: left;
 }     
  .kn2clogomenu2
{
  height: 80px;
  border-radius: 10px;
  margin: 0px;
  margin-left: 840px;
  margin-top: 20px;
}
.gitlablogo{
 height: 80px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
}
a {
    text-decoration: none;
  }
  body {
    background: rgb(2,2,3);
    background: radial-gradient(circle, rgb(63, 141, 177) 30%, rgb(0, 0, 0) 100%,  rgb(63, 141, 177) 30%);
  }
  label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
  }
  #forgot-pass {
    color: #3865b9;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
  }
  #modal {
 
    background: #ebebeb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
  }
  #modal-content {
      
    padding: 12px 44px;
  }
  #modal-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
  }

  #submit-btn {
    background: -webkit-linear-gradient(right, #2e3682, #07a3dc);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #00d7f3;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
  }
  #submit-btn:hover {
    box-shadow: 0px 1px 18px #a72424;
  }
  .form {
    align-items: left;
    display: flex;
    flex-direction: column;
  }
  .form-border {
    background: -webkit-linear-gradient(right, #000000, #3897b9);
    height: 1px;
    width: 100%;
  }
  .form-content {
    background: #ebebeb;
    border: none;
    outline: none;
    padding-top: 14px;
  }



  /* HEART RATE  */



  .heart-container {
    padding-top: 0px; 
    animation:heartbeat 1s linear infinite both;
    display:table;
    height:70%;
    text-align:center;
    width:70%;
    }
    
    .heart {
    display:table-cell;
    vertical-align:middle;
    }
    
    
    /* Heart Image */
    
    .heart svg {
    background-color:#EBEBEB;
    max-width:25%;
    }
    
    
    /* Generated with Bounce.js. Edit at https://goo.gl/h05rSW */
    
    @keyframes heartbeat {
        0% { transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); }
        2.1% { transform:matrix3d(1.022,0,0,0,0,1.022,0,0,0,0,1,0,0,0,0,1); }
        4.1% { transform:matrix3d(1.036,0,0,0,0,1.036,0,0,0,0,1,0,0,0,0,1); }
        8.21% { transform:matrix3d(1.046,0,0,0,0,1.046,0,0,0,0,1,0,0,0,0,1); }
        11.41% { transform:matrix3d(1.042,0,0,0,0,1.042,0,0,0,0,1,0,0,0,0,1); }
        14.51% { transform:matrix3d(1.032,0,0,0,0,1.032,0,0,0,0,1,0,0,0,0,1); }
        20.72% { transform:matrix3d(1.011,0,0,0,0,1.011,0,0,0,0,1,0,0,0,0,1); }
        27.03% { transform:matrix3d(0.997,0,0,0,0,0.997,0,0,0,0,1,0,0,0,0,1); }
        33.23% { transform:matrix3d(0.993,0,0,0,0,0.993,0,0,0,0,1,0,0,0,0,1); }
        45.75% { transform:matrix3d(0.998,0,0,0,0,0.998,0,0,0,0,1,0,0,0,0,1); }
        58.26% { transform:matrix3d(1.001,0,0,0,0,1.001,0,0,0,0,1,0,0,0,0,1); }
        83.28% { transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); }
        100% { transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); }
    }